<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - Camera.Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Alejandro Marín Gómez" />
    <meta name="description" content="Tienda online para la venta de material fotográfico.">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img src="~/Content/Images/logo.svg" alt="Camera.Shop" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home")" class="nav-link"><i class="fa fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Productos")" class="nav-link"><i class="fa fa-shopping-cart"></i> Productos</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("About", "Home")" class="nav-link"><i class="fa fa-users"></i> Quienes somos</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Contact", "Home")" class="nav-link"><i class="fa fa-envelope"></i> Contacto</a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Registrarse", "Register", "Account", null, new { @class = "nav-link btn btn-dark text-white ml-lg-3" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Iniciar sesión", "Login", "Account", null, new { @class = "nav-link btn btn-dark text-white ml-lg-3" })
                </li>
            </ul>
        </div>
    </nav>
    @RenderBody()
    <footer class="mt-5 bg-dark p-4 text-center">
        <p class="mb-0 text-white">&copy; Camera.Shop @DateTime.Now.Year.</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/fancybox")
    @Scripts.Render("~/bundles/OwlCarousel")
    @Scripts.Render("~/bundles/Site")
    @RenderSection("scripts", required: false)
    <script>
        $("a.fancybox").fancybox();
    </script>
</body>
</html>