@using PagedList.Mvc;
@using Camera.Shop.Models;
@model PagedList.IPagedList<ApplicationUser>

@{
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
    ViewBag.Title = "Administradores";
}

<main class="container my-5">
    <h3 class="mb-4"><i class="fa fa-users"></i> @ViewBag.Title</h3>
    <hr />
    <p class="text-right">
        @Html.ActionLink("Crear", "Create", "Administradores", null, new { @class = "btn btn-sm btn-dark" })
    </p>
    <div class="mt-3 table-responsive">
        <table class="table">
            <tr>
                <th width="40%">ID</th>
                <th width="60%">Email</th>
            </tr>
            @foreach (ApplicationUser Usuario in Model)
            {
                <tr>
                    <td>@Usuario.Id</td>
                    <td>@Usuario.Email</td>
                </tr>
            }
        </table>
    </div>
    <hr />
    <p>Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</p>
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, Estado = Convert.ToString(ViewBag.EstadoSeleccionadoFiltro.Value) }), new PagedListRenderOptions { LiElementClasses = new string[] { "page-item" } })
</main>